python was intrduced by 

* Guido van Rossum he is in dutch person 
*
uses
1)1989 start python ..
2)1991 start java..
*using in ml,ds,web development,software testing,game development,ai,hacking
* esay to use
* few lines of code
* open source
* huge lib
* wide variety of frameworks
* easy to learn
* not as fast as c++
* easy to debug
* easy to scale
* easy to maintain
* easy to deploy
i am using py 3.12.0 version

In [9]:
print("hello world")
print("my name is EswarTeja chandra ")

hello world
my name is EswarTeja chandra

In [10]:
2+3

5

In [11]:
print(2+3)

5

In [12]:
# string
print("hello"+"hi")
print("hello \n world")
print("hello \t world")
print("hi"+"  "+"erri hukaa")

hellohi
hello
 world
hello 	 world
hi  erri hukaa

In [13]:
#input
name=input("enter a name")
print("hello",name)

In [55]:
i="eswarteja"
len(i)

9

In [56]:
#E1
a=2
b=5
print(a)
print(b)
i=a
a=b
b=i
print(a)
print(b)

2
5
5
2

In [57]:
#data types
i=10
print(type(i))
j="tre"
print(type(j))
k=23.4
print(type(k))
l=[1,2,3]
print(type(l))
m=(1,2,3)
print(type(m))
n={1,2,3}
print(type(n))
o=True
print(type(o))
p=None
print(type(p))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'bool'>
<class 'NoneType'>

In [58]:
#conversion
j="23"
print(type(j))
j=int(j)
print(type(j))

<class 'str'>
<class 'int'>

In [59]:

#operators
a=2
b=3
print(a+b)
print(a-b)
print(a*b)
print(a/b)#div
print(a//b)#floor value exact int val
print(a%b)#mod(reminder)
print(a**b)#power

5
-1
6
0.6666666666666666
0
2
8

In [60]:
#logical operators
a=True
b=False
print(a and b)
print(a or b)
print(not a)

False
True
False

In [61]:
#membership operators
s="hello"
print("h" in s)
print("x" in s)

True
False

In [62]:
#object id or memory allocation
print(id(s))

2624802037392

In [63]:

#identity operators
a=10
b=10
print(a is b)
print(a is not b)

True
False

In [64]:
print(0b101)#binary

5

In [65]:
print(0o10)#oct
print(0x10)#hex

#bitwise shift operators
a=10
b=2
print(a<<2)
print(a>>2)

8
16
40
2

In [66]:
#bitwise operators
a=10
b=2
print(a&b)
print(a|b)
print(a^b)
print(~a)
print(a<<2)
print(a>>2)

2
10
8
-11
40
2

In [67]:
#assignment operators
a=10
b=2
a+=b
print(a)
a-=b
print(a)
a*=b
print(a)
a/=b
print(a)
a%=b

12
10
20
10.0

In [68]:

#ternary operator
a=10
b=20
print(a if a>b else b)
print(a if a<b else b)

20
10

In [69]:
#conitional op e5
a=10
b=20
if a>b:
    print("a is greater")
elif a<b:
    print("b is greater")

b is greater


**Type checking** is done to ensure that a variable is of the correct type before using it in a particular operation. If the type doesn't match, an error may occur.

**type casting** involves converting a value from one type to another. If the value cannot be converted, a ValueError or TypeError may be raised.

In [70]:
#E2
i=input("enter a value")#12
fd=i[0]
sd=i[1]
a=int(fd)
b=int(sd)
print(a+b)

5

In [71]:
#E3
weight =int(input("enter a val"))
height=float(input("enter a value"))
bmi=weight/(height**2)
print("bmi is",int(bmi))

bmi is 0

In [72]:
#round
i=21.5
print(round(i))
j=234.5234567
print(round(j,2))#point after val
print(round(7,2))
print(round(2.4554,0))
print(round(7.68))
print(round(7.5))#8 nearest even integer
print(round(6.5,))#6 nearest even integer

print(round(6,-2))#-2 is b/w val of the 11 to 20

22
234.52
7
2.0
8
8
6
0

In [73]:
#f string
name="eswar teja"
age=21
print(f"my name is {name} and age is {age}")

#format
name="eswar teja"
age=21
print("my name is {} and age is {}".format(name,age))

my name is eswar teja and age is 21
my name is eswar teja and age is 21

In [74]:
#e4
age=int(input("enter a age"))
i=90-age
j=i*365
k=j*12
l=k*52
print(f"u have days{j},weeks{k},months{l}")

u have days28470,weeks341640,months17765280

In [75]:
#nested if
a=12
b=54
if a>b:
  print("a is greater")
  if a==20:
      print("a is equal to b")
  else:
     print("b is greater")

In [76]:
#elif
a=12
b=54
if a>b:
  print("a is greater")
elif a<b:
  print("b is greater")

b is greater

In [77]:
#lists
l=[1,2,3,4,5]
print(l[0])
print(l[-1])
print(l[1:3])
print(l[::2])
print(l[::-1])
print(l[1:5:2])

1
5
[2, 3]
[1, 3, 5]
[5, 4, 3, 2, 1]
[2, 4]

In [78]:

#string list
s="hello world"
print(s[0])
print(s[-1])
print(s[1:3])
print(s[::2])
print(s[::-1])
print(s[1:5:2])

3

h
d
el
hlowrd
dlrow olleh
el

3

In [79]:
#list methods
l=[1,2,3,4,5]
l.append(6)
print(l)
l.insert(2,7)
print(l)
l.remove(7)
print(l)
l.pop()
print(l)
l.extend([8,9,10])
print(l)
l.sort()
print(l)
l.reverse()
print(l)
print(len(l))
print(max(l))
print(min(l))
print(sum(l))
print(l.index(5))
print(l.count(5))
l.clear()
print(l)

[1, 2, 3, 4, 5, 6]
[1, 2, 7, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 8, 9, 10]
[1, 2, 3, 4, 5, 8, 9, 10]
[10, 9, 8, 5, 4, 3, 2, 1]
8
10
1

TypeError: 'int' object is not callable

In [ ]:
#list comprehension
l=[i for i in range(1,11)]
print(l)
l=[i for i in range(1,11) if i%2==0]
print(l)
l=[i for i in range(1,11) if i%2!=0]
print(l)
l=[i**2 for i in range(1,11)]
print(l)
l=[i**2 for i in range(1,11) if i%2==0]
print(l)
l=[i**2 for i in range(1,11) if i%2!=0]
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[4, 16, 36, 64, 100]
[1, 9, 25, 49, 81]

In [ ]:
#list uses
fruits=["apple","banana","cherry"]
print(fruits[0])
print(fruits[-1])
print(fruits[1:3])
print(fruits[::2])
print(fruits[::-1])
print(fruits[1:5:2])

#list conditions
print(len(fruits))
print(fruits[0] in fruits)
print("apple" in fruits)
print("orange" not in fruits)

apple
cherry
['banana', 'cherry']
['apple', 'cherry']
['cherry', 'banana', 'apple']
['banana']
3
True
True
True

In [ ]:
#random module functions

import random
print(random.randint(1,10))
print(random.choice(fruits))
fruits.sort()
print(fruits)
random.shuffle(fruits)
print(fruits)
print(random.random())


#uniform

print(random.uniform(1,10))

#randrange

print(random.randrange(1,10))
print(random.randrange(1,10,2))

3
apple
['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry']
0.8720076486838272
5.826773044597803
9
9

In [ ]:
import random 
i=random.randint(0,1)
print(i)
if i==1:
    print("heads")
else:
    print("tails")

0
tails

In [ ]:
#split and EX6
import random 
text="teja pk aj vikram"
i=text.split(" ")
print(i)
j=len(i)
print(j)
r=random.randint(0,j-1)#      ' length-1=index" u may occur indexing error'
print(i[r],"will pay bill")

['teja', 'pk', 'aj', 'vikram']
4
vikram will pay bill

In [ ]:
#nested list
nested=[[1,2,3],[4,5,6],[7,8,9]]
print(nested[0])
print(nested[1])
print(nested[2])
print(nested[0][1])
print(nested[1][2])

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
2
6

In [82]:
#2d list methods
nested=[[1,2,3],[4,5,6],[7,8,9]]
nested.append([10,11,12])
print(nested)

nested[1].insert(1,15)
print(nested)
nested[2].remove(9)
print(nested)
nested[0].pop()
print(nested)
nested[1].extend([13,14])
print(nested)
nested.sort()
print(nested)
nested.reverse()
print(nested)

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]]
[[1, 2, 3], [4, 15, 5, 6], [7, 8, 9], [10, 11, 12]]
[[1, 2, 3], [4, 15, 5, 6], [7, 8], [10, 11, 12]]
[[1, 2], [4, 15, 5, 6], [7, 8], [10, 11, 12]]
[[1, 2], [4, 15, 5, 6, 13, 14], [7, 8], [10, 11, 12]]
[[1, 2], [4, 15, 5, 6, 13, 14], [7, 8], [10, 11, 12]]
[[10, 11, 12], [7, 8], [4, 15, 5, 6, 13, 14], [1, 2]]

In [ ]:
#nested list comprehension
nested=[[i for i in range(1,4)] for j in range(1,4)]
print(nested)
nested=[[i for i in range(1,4)] for j in range(1,4) if j%2!=0]
print(nested)
nested=[[i for i in range(1,4)] for j in range(1,4) if j%2==0]
print(nested)

print(len(nested))

[[1, 2, 3], [1, 2, 3], [1, 2, 3]]
[[1, 2, 3], [1, 2, 3]]
[[1, 2, 3]]
1

In [ ]:
#2d list conditions
nested=[[1,2,3],[4,5,6],[7,8,9]]
print(len(nested))
print(len(nested[0]))
print(nested[0][0] in nested[0])
print("1" in nested[0])
print("1" in nested[1])

3
3
True
False
False

In [ ]:

#2d list uses
nested=[[1,2,3],[4,5,6],[7,8,9]]
print(nested[0][0])
print(nested[1][1])
print(nested[2][2])
print(nested[0][0],nested[1][1],nested[2][2])
print(nested[1:2])

1
5
9
1 5 9
[[4, 5, 6]]

In [ ]:
#matrix using 
matrix=[[1,2,3],[4,5,6],[7,8,9]]
print(matrix[0])
print(matrix[1])
print(matrix[2])
print(matrix[0][1])
print(matrix[1][2])

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
2
6

In [ ]:
#nested strings
nested_strings = ["hello", "world", "python", "programming", "is", "fun"]
print(nested_strings[0])
print(nested_strings[1])
print(nested_strings[2])
print(nested_strings[0][1])
print(nested_strings[1][2])
print(nested_strings[2][3])
print(nested_strings[0][1], nested_strings[1][2], nested_strings[2][3])

hello
world
python
e
r
h
e r h

In [ ]:
#Ex8
r1=[1,1,1]
r2=[1,1,1]
r3=[1,1,1]
mx=[r1,r2,r3]
print(f"{r1}\n{r2}\n{r3}")
print(mx)
i=input('enter sep')

row=int(i[0])
col=int(i[1])
row_selected=mx[row-1]# row willn 0 to 2
row_selected[col-1]="0"

print(f"{r1}\n{r2}\n{r3}")

[1, 1, 1]
[1, 1, 1]
[1, 1, 1]
[[1, 1, 1], [1, 1, 1], [1, 1, 1]]
[1, 1, 1]
[1, 1, '0']
[1, 1, 1]

In [ ]:
#Ex9
import random
i=int(input('enter'))
j=random.randint(1,3)
print(j)
print(i)
if i<=0:
    print("invalid")
    
elif i==j:
    print("draw")
elif i<j:
    print("win com")
elif i>j:
    print("win you")

1
0
invalid

In [ ]:
#tuples
t=(1,2,3,4,5)
print(t)
print(t[0])
print(t[1:3])
print(t[::-1])
t[0]=10
print(t)

#tuple methods
t=(1,2,3,4,5)
print(len(t))
print(max(t))
print(min(t))
print(sum(t))
print(t.count(3))
print(t.index(3))

#tuple comprehension
t=(i for i in range(1,11))
print(t)
t=(i for i in range(1,11) if i%2==0)
print(t)
t=(i for i in range(1,11) if i%2!=0)
print(t)
t=(i**2 for i in range(1,11))
print(t)
t=(i**2 for i in range(1,11) if i%2==0)
print(t)
t=(i**2 for i in range(1,11) if i%2!=0)




#tuple uses
fruits=("apple","banana","cherry")
print(fruits[0])
print(fruits[-1])
print(fruits[1:3])
print(fruits[::2])
print(fruits[::-1])
print(fruits[1:5:2])

#tuple conditions
print(len(fruits))
print(fruits[0] in fruits)
print("apple" in fruits)
print("orange" not in fruits)

In [ ]:
#sets
s={1,2,3,4,5}
print(s)
print(type(s))
s.add(6)
print(s)
s.update([7,8,9])
print(s)
s.remove(2)
print(s)
s.discard(3)
print(s)
s.pop()
print(s)
s.clear()


#set methods
s={1,2,3,4,5}
print(len(s))
print(max(s))
print(min(s))
print(sum(s))
print(s.count(3))


#set comprehension
s={i for i in range(1,11)}
print(s)
s={i for i in range(1,11) if i%2==0}
print(s)
s={i for i in range(1,11) if i%2!=0}
print(s)
s={i**2 for i in range(1,11)}


#set uses
fruits=("apple","banana","cherry")
print(fruits[0])
print(fruits[-1])
print(fruits[1:3])
print(fruits[::2])
print(fruits[::-1])


#set conditions
print(len(fruits))
print("apple" in fruits)
print("orange" not in fruits)

{1, 2, 3, 4, 5}
<class 'set'>
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 3, 4, 5, 6, 7, 8, 9}
{1, 4, 5, 6, 7, 8, 9}
{4, 5, 6, 7, 8, 9}
5
5
1

TypeError: 'int' object is not callable

In [ ]:
#set union
s1={1,2,3}
s2={3,4,5}
print(s1.union(s2))
print(s1 | s2)

#set intersection   
s1={1,2,3}
s2={3,4,5}
print(s1.intersection(s2))
print(s1 & s2)

#set difference
s1={1,2,3}
s2={3,4,5}
print(s1.difference(s2))
print(s1 - s2)

#set symmetric difference
s1={1,2,3}
s2={3,4,5}
print(s1.symmetric_difference(s2))
print(s1 ^ s2)

#set issubset
s1={1,2,3}
s2={1,2,3,4,5}
print(s1.issubset(s2))
print(s1 <= s2)

#set issuperset
s1={1,2,3}
s2={1,2,3,4,5}
print(s2.issuperset(s1))
print(s2 >= s1)

#set equality
s1={1,2,3}
s2={1,2,3}
print(s1 == s2)
print(s1 is s2)

#set membership
s1={1,2,3}
print(1 in s1)
print(4 in s1)

#set operations
s1={1,2,3}
s2={3,4,5}
s3={6,7,8}
s4=s1.union(s2)
print(s4)
s5=s4.intersection(s3)
print(s5)
s6=s4.difference(s3)
print(s6)

#updateset
s1={1,2,3}
s2={4,5,6}
s1.update(s2)
print(s1)

#remove from set
s1={1,2,3,4,5}
s1.remove(3)
print(s1)
s1.discard(2)
print(s1)
s1.pop()

In [ ]:
#nested sets
s1={1,2,3}
s2={4,5,6}
s3={7,8,9}
nested_set=[s1,s2,s3]
print(nested_set)

[{1, 2, 3}, {4, 5, 6}, {8, 9, 7}]

In [ ]:
#convert list into int values
h=input("enter the list value").split(" ")
print(h)
count=0


for i in h:
    h[count]=int(i)
    count=count+1
    
#convert list values into tuple
h=[1,2,3,"647"]
h=tuple(h)
print(h)

#convert list values into set
h=[1,2,3,"647"]
h=set(h)
print(h)

#convert set into list
h=set([1,2,3,"647"])
h=list(h)
print(h)

#convert tuple into list
h=tuple([1,2,3,"647"])
h=list(h)
print(h)

#convert set into tuple
h=set([1,2,3,"647"])
h=tuple(h)
print(h)

#convert tuple into set
h=tuple([1,2,3,"647"])
h=set(h)
print(h)

#convert set into dictionary
h=set([1,2,3,"647"])
h=dict(h)
print(h)

#list into string
h=list([1,2,3,"647"])
h=" ".join(str(i) for i in h)
print(h)

#convert string into list
h="1 2 3 647"
h=h.split(" ")
print(h)

#convert dictionary into set
h=dict([1,2,3,"647"])
h=set(h.keys())
print(h)

#convert dictionary into tuple
h=dict([1,2,3,"647"])
h=tuple(h.items())
print(h)

#convert dictionary into set
h=dict([1,2,3,"647"])
h=set(h.values())
print(h)

['1', '2', '4', '5']
(1, 2, 3, '647')
{1, 2, 3, '647'}
[1, 2, 3, '647']
[1, 2, 3, '647']
(1, 2, 3, '647')
{1, 2, 3, '647'}

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [ ]:
#forloop
for s in nested_set:
    print(s)
    
#for else
for s in nested_set:
    if 3 in s:
        print("found")
        break
else:
    print("not found")

{1, 2, 3}
{4, 5, 6}
{8, 9, 7}
found

In [ ]:
h=input("enter the list value").split(" ")
print(h)
count=0


for i in h:# finding length 
    count=count+1
print(count)



  
for j in range(count):# convert into int
    h[j]=int(h[j])
print(h)
    


#find sum
sum=0
for i in h:
    sum=sum+i
print(sum)


#find average
average=sum/count
print(average)
#witoout inbuilt function

['122', '123', '146', '12345']
4
[122, 123, 146, 12345]
12736
3184.0

In [ ]:
l=input("enter a value").split(" ")
print(l)
#find count of length
#count=0
#for i in l:
#    count=count+1
#print(count)

#or

for i in range(0,len(l)):
    l[i]=int(l[i])
print(l)


#max
maxno=l[0]
for i in l:# 23 45 67 -1 2
    if i>maxno:#23
        maxno=i#
print("manno",maxno)

['12', '34', '67', '87', '99']
[12, 34, 67, 87, 99]
manno 99

In [97]:
#range function
print(list(range(1, 11)))  # [1, 2, 3,


#reverse
print(list(range(10, 0, -1)))  # [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
print(list(range(10, 0, -2)))  # [10, 8,


a=range(2,15,2)
print(list(a))




b=range(2,5)
for i in b:
    print(i)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[10, 8, 6, 4, 2]
[2, 4, 6, 8, 10, 12, 14]
2
3
4

In [100]:
c=0
for i in range(0,100):
    
    if i%2==0:
        c=c+i
        
        print(c)

0
2
6
12
20
30
42
56
72
90
110
132
156
182
210
240
272
306
342
380
420
462
506
552
600
650
702
756
812
870
930
992
1056
1122
1190
1260
1332
1406
1482
1560
1640
1722
1806
1892
1980
2070
2162
2256
2352
2450

In [132]:
l1={"hi teja" for i in range(0,100)}
print(l1)

{'hi teja'}

In [102]:
for i in range(0,100):
    if i%3==0 and i%5==0:
        print("fizzbuzz")
    elif i%3==0:
        print("fizz")
    elif i%5==0:
        print("buzz")
    
    else:
        print(i)

fizzbuzz
1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz
31
32
fizz
34
buzz
fizz
37
38
fizz
buzz
41
fizz
43
44
fizzbuzz
46
47
fizz
49
buzz
fizz
52
53
fizz
buzz
56
fizz
58
59
fizzbuzz
61
62
fizz
64
buzz
fizz
67
68
fizz
buzz
71
fizz
73
74
fizzbuzz
76
77
fizz
79
buzz
fizz
82
83
fizz
buzz
86
fizz
88
89
fizzbuzz
91
92
fizz
94
buzz
fizz
97
98
fizz

In [110]:
#passord generator
import random
import string

def generate_password(length=12):
    chars=string.ascii_letters + string.digits + string.punctuation
    password = ''.join(random.choice(chars) for i in range(length))
    print(password)
    
    
    
#or 
# e=ithout inbuilt
#all alphabets in list



letter=["a","b","c","d","e"]# ..........all alphabets
numbers=[1,2,3,4,5,6,7,9]# not string
symbols=["@","#","$","%","&","*","+","-","/"]

ul=int(input("enter no of letter"))
un=int(input("enter no of numbers"))
us=int(input("enter no of symbols"))

password=[ ]
for i in range(1,ul+1):
    char=random.choice(letter)
    password+=char
for i in range(1,un+1):
    val=random.choice(numbers)
    password+=str(val)#convert string
for i in range(1,us+1):
    sym=random.choice(symbols)
    password+=sym
    
    
    
    password+=char
    
print(password)

['b', 'c', 'c', 'c', 'b', '7', '6', '7', '5', '6', '$', 'b', '%', 'b', '/', 'b', '/', 'b', '*', 'b']

In [2]:
#
list=[1,2,3,-1,-3,4]
for i in list:
    print(i)
    
for i in list:
    if i==0:
        print("Zero")
        break
else:
    print("No zero in list")
    #"No zero in list" ans
    
    
    
# diff hrer for else stmt    
    
    
    
        
l2=(1,-2,4,5,0)
for i in l2:
    if i==0:
        print("Zero")
        break
else:
    print("No zero in list")
    #zero is ans

1
2
3
-1
-3
4
No zero in list
Zero

In [ ]:
#while :user is not None how many to excute.in this time while loop
i=0
while i<10:
    print(i)
    i=i+1
    
#for loop
for i in range(10):
    print(i)
    

#do while
i=0
while True:
    print(i)
    i=i+1
    if i==10:
        break
    
    

#nested loop
for i in range(1,11):
    for j in range(1,11):
        print(i,"*",j,"=",i*j)
    print("---------")

In [118]:
#while else
i="yes"
while i=="yes":
    for i in range (0,1):
        print("welocme while loop")#using break stmt else not excute
else:
    print("exit")

welocme while loop
exit

In [11]:
#break
for i in range(0,100):
    if i==20:
        print(i)
        break
        
        
#contiune: if cond is ture then will wexcute .false that is terminate
for i in range(0,5):
    if i==20:
        print(i)
        continue
    print(i)

    
for i in range(0,30):
    if i!=20:
        print(i)
        continue
    print(i)

20
0
1
2
3
4
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

In [14]:
#contine
i=0
while i<=10:
    print(i)
    i+=1
    if i==7:
        continue
    print("hi")
print("tehits")

0
hi
1
hi
2
hi
3
hi
4
hi
5
hi
6
7
hi
8
hi
9
hi
10
hi
tehits

In [15]:
i=0
while i<=10:
    print(i)
    i+=1
    if i!=7:
        continue
    print("hi")
print("tehits")

0
1
2
3
4
5
6
hi
7
8
9
10
tehits

In [4]:
for i in range(1,10):
    if i==5:
        continue
    print(i)
    
    
for i in range(1,10):
    if i==5:
        break
    print(i)
    
    
for i in range(1,10):
    if i==5:
        pass
    print(i)

1
2
3
4
6
7
8
9
1
2
3
4
1
2
3
4
5
6
7
8
9

In [3]:
#return vs print
def fun(a,b):
    c=a+b
    print(c,"here i val")
    return c# here will "return" will future c values is used
    
def mul(x):
    x=x+1
    print(x,"here its mul ")
    
    
    
i=fun(2,4)# fun is method is using another one ,now here i=6 
j=mul(i)#mul is 7 using before method

6 here i val
7 here its mul

In [ ]:

# exaple of return

def amu():
    x=1000
    print("ur amount is",x)
    return x
    
    
    
    
def withdraw(x):
    i=int(input("enter a val for withdraw"))
    x-=i
    print("ur cuurnt amount is",x)
    return x
    
    
    
    
def deposit(x):
    i=int(input("enter a val for withdraw"))
    x+=i
    print("ur cuurnt amount is",x)
    return x
        
    
    
i=amu()
j=withdraw(i)
k=deposit(j)

In [4]:
#functions
def greet():
    return f"hello world"
# Example usage
greet()

'hello world'

In [5]:
#2. Function with Arguments
def greet_user(name):
    return f"Hello, {name}!"

# Example usage
greet_user("Alice")

'Hello, Alice!'

In [4]:
# Function with a Return Value
def add_numbers(a, b):
    return a + b

# Example usage
result = add_numbers(5, 10)
print(result)  # Output: 15

15

In [3]:
#Function with Default Arguments
def greet_user(name="Guest"):
    print(f"Hello, {name}!")

# Example usage
greet_user()       # Output: Hello, Guest!
greet_user("Bob")  # Output: Hello, Bob!

Hello, Guest!
Hello, Bob!

In [35]:
#Function with Variable Number of Arguments (*args)
def sum_numbers(*args):
    return sum(args)

def sum_numbers(*args):
    sub=0
    for i in args:
        sub-=i
        return sub
    


# Example usage
print(sum_numbers(1, 2, 3, 4))  # Output: 10
print(sum_numbers(5, 10))       # Output: 15

-1
-5

In [1]:
# Function with Keyword Arguments (**kwargs)
def print_user_info(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")

# Example usage
print_user_info(name="Alice", age=30, city="New York")

name: Alice
age: 30
city: New York

In [7]:
#pass
for i in range(5):
    pass# do nothing for future using

In [8]:
#dictionary are ordered
d={"name":"teja","rollno":123}
print(d)

#accessing dictionary
#keys are immutable and values are mutablee(changes) and duplicate allowed

d["rollno"]

{'name': 'teja', 'rollno': 123}

123

In [11]:
k={
    "name":"teja",
    "age":20,
    "city":"hyd",
    "name":"kk" #duplicae not allowed
}
print(k)

{'name': 'kk', 'age': 20, 'city': 'hyd'}

In [9]:
k["age"]

20

In [13]:
k["name"]="eswarteja"
k

{'name': 'eswarteja', 'age': 20, 'city': 'hyd'}

In [15]:
k["age"]={22,24}
k

{'name': 'eswarteja', 'age': {22, 24}, 'city': 'hyd'}

In [17]:
k["age"]={"yestr":22,"today":24}
k

{'name': 'eswarteja', 'age': {'yestr': 22, 'today': 24}, 'city': 'hyd'}

In [18]:
k["age"]

{'yestr': 22, 'today': 24}

In [26]:
del k["city"]

In [28]:
k.pop("name")

'eswarteja'

In [30]:
j={"name":"teja","rollno":123}
j.keys()

dict_keys(['name', 'rollno'])

In [31]:
j.values()

dict_values(['teja', 123])

In [32]:
j.items()

dict_items([('name', 'teja'), ('rollno', 123)])

In [34]:
for i in j:
    print(i)#key
    print(j[i])#val

name
teja
rollno
123

In [37]:
h=j.copy()
h
len(h)

2

In [ ]:
dict={
    "esw":90,
    "tej":84,
    "pra":99,
    "nag":75,
    "rag":62
}

g1={}




for i in dict:
   print(dict[i])
   if dict[i]>90:
       g1[i]="a+"
   elif dict[i]>85:
       g1[i]="a"
   elif dict[i]>79:
       g1[i]="b"
   elif dict[i]>85:
       g1[i]="c"
   elif dict[i]>65:
       g1[i]="fail"

print(g1)

In [1]:
#nested dict
std={
    "tej":{"id":4414,"sec":"ds"},
    "pra":{"id":4414,"sec":"ds"}
    }
print(std)

{'tej': {'id': 4414, 'sec': 'ds'}, 'pra': {'id': 4414, 'sec': 'ds'}}

In [2]:
std["tej"]

{'id': 4414, 'sec': 'ds'}

In [3]:
print(std["tej"]["id"])

4414

In [5]:
#add dict in 
std["tej"]["phno"]=56789
print(std["tej"])

{'id': 4414, 'sec': 'ds', 'phno': 56789}

In [6]:
#del
del std["tej"]["sec"]

In [7]:
std["tej"]

{'id': 4414, 'phno': 56789}

In [31]:
l1=[
    {
        "name":"tej",
        "id":4414
    },
    
    {
        "name":"ifr",
        "id":4450
    }
]



def add_new(name,id):
    l2={}
    l2["name"]=name
    l2["id"]=id
    l1.append(l2)
    print(l1)
    
add_new("esw",44162)

[{'name': 'tej', 'id': 4414}, {'name': 'ifr', 'id': 4450}, {'name': 'esw', 'id': 44162}]

In [1]:

com_bit=0   
name=input("enter ur name")
bit=int(input("waht is bit"))
i=input("is there any bit one")
print(f"your name is {name} and bit is{bit}")


while i=="yes":
    name=input("enter ur name")
    bit=int(input("waht is bit"))
    i=input("is there any bit one")
    print(f"your name is {name} and bit is{bit}")

if i=="no":
    print("complete bit ")
    
for i in bit:
    if com_bit<bit:
       com_bit=bit
    print(f"the auc winner is {name} with his {bit}")

your name is teja and bit is3000
complete bit

TypeError: 'int' object is not iterable

In [ ]:
#global and local var
a=10
def fun():
    print(a)#cnait modify a values
fun()

def up_fun():
    global a
    a=a+1
    print(f"after {a}modiy value")
    
up_fun()

In [ ]:
c=20

#non local
def gain():
    global c
    d=21
    print(d)#cnait modify a values
    
    
    #local
    def su():
        print(c,"c values repsent")
        nonlocal d# acessinf the nonlocal varible in gain fun
        print(d)
        d=d+1
        print("after update d",d)
        f=8
        print("here f is",f)
        
    def kk():
        global c 
        c+=7
        print("after g var and upwith kk",c)
       
            
            
            
            
        
    kk()
    su()
gain()

In [ ]:
# by class

name=input("enter ur name")
bit=int(input("waht is bit"))
i=input("is there any bit one")
print(f"your name is {name} and bit is{bit}")

In [ ]:
class Intro:
    
    
    
    
    def __init__(self,name,address,salary):
        self.name=name
        self.address=address
        self.salary=salary
        
        
        
        
        
class Job:
    def __init__(self,name,idi,dos):
        self.name=name
        self.idi=idi
        self.dos=dos
        
        
        
    
i=Intro("teja","pnpuri",1234)
print(i.name,i.address,i.salary)



j=Job("teja","id101","manger")
print(j.dos)



j.proid="12weaa"
print(j.proid)

In [6]:
#calss methods
class Intro:
    
    
    
    
    def __init__(self,name,address,salary):
        self.name=name
        self.address=address
        self.salary=salary
        
        
        
        
        
class Job:
    def __init__(self,name,idi,dos):
        self.name=name
        self.idi=idi
        self.dos=dos
        
        def display(self):
            print(f"your name is{name}")
            print(f"your id is {self.idi}")
            
i=Job("teja","qwert","man")



display()

In [ ]:
#calss with attributes
class i:
    sal=1000
    def __init__(self,emp,id):
        self.emp=emp
        self.id=id
        
        
    def display(self,work):
        print(f"your emp name {self.emp} and his id is {self.id} and sal{work}")



    def up_sal(self,val):
        self.sal+=val
        print(f"updated sal  {self.sal}")

        
j=i("teja","ra13")
j.display("mng")
j.up_sal(1000)


h=i("eswar","re234")
h.display("hrh")



k=i("tri","1234rt")
k.up_sal(1000)


# new one
a=i('rr',"234rd")
a.display("peo")
a.up_sal(0)

In [ ]:
#exercise
class area:
    def area_rec(self,l,b):
        self.l=l
        self.b=b
        self.res=self.l*self.b
        
        print(f"your len is{self.l} and breath{self.b} and your area {self.res} ")
        
        
    def per_rec(self,l,b):
        self.l=l
        self.b=b
        self.res=int((self.l+self.b)*2)
    
        print(f"your len is{self.l} and breath{self.b} and your per {self.res} ")
        
        
        
i=int(input("enter a len of rec"))
j=int(input("enter a bed of rec"))

house=area()

house.area_rec(i,j)
house.per_rec(i,j)

In [2]:

#inheritence


class acc:
    def __init__(self):
        print("welcome store")
        
        
        
    
    def mb_acc(self,ram,mem):
        
        self.ram=ram
        self.mem=mem
        
        

    def hi(self):
        print(f"you ram is{self.ram} and your rom is{self.mem} and charge ")
        
     

class ph(acc):
    def __init__(self,id):
        super().__init__()
        print("what do you want sir an tell me id")
        
        
 
    
    
    
    def hi(self,com):#method overriding
      super().hi()#acessinf parent calss
      self.com=com
      print(f"you {com} are selected compnay")
   
        
        
myph=ph("12es")




myph.mb_acc(128,512)
myph.hi("vivo")



a1=ph("wedfc")
a1.mb_acc(12,128)
a1.hi("redmi")

welcome store
what do you want sir an tell me id
you ram is128 and your rom is512 and charge
you vivo are selected compnay
welcome store
what do you want sir an tell me id
you ram is12 and your rom is128 and charge
you redmi are selected compnay

In [4]:
#mutiple inheritence 
class hi:
    def greet(self):
        print("hi,welcom")
    def com(self):
        print("A company")
        
        
class sa:
    def gj(self):
        print("ven,saya sa class will run")
    def com(self):
         print("B company")
         
         
         
         
         
         
class th(hi,sa):#here automaticall hi class calls first 
    
     print("thank you so much")
     def jg(self):
        print("kana suya")
     def com(self):
         print("C company")
         
i=th()

i.com()
sa.com(i)#here that second parent class from method overloading
hi.com(i)
i.gj()
i.greet()
i.jg()



th.mro() # acessing the all the class names

thank you so much
C company
B company
A company
ven,saya sa class will run
hi,welcom
kana suya

[__main__.th, __main__.hi, __main__.sa, object]

In [ ]:
class a:
    
    
    
    
    def ukg(self):
        print("ukg class")
    def work(self):
        print("sleeping time")
  
class b:
    def lkg(self):
        print("lkg class")
        
    def work(self):
        print("CLASS run")
        
class sch(a,b):
    pass


i=sch()
i.ukg()
i.work()

i.lkg()

b.work(i)

In [17]:
# mutilple inheri.. with attribute

import time as t

class Acom:
    print("hello ser by Acom")  # This prints when the Acom class is defined

    def __init__(self, conn, dconn):
        self.conn = "connected"
        print(f"{self.conn} you are Acom")  # Prints: connected you are Acom
        t.sleep(5)  # Pauses for 5 seconds
        self.dconn = "disconnected"
        print(f"{self.dconn} you are Acom")  # Prints: disconnected you are Acom

class Bcom(Acom):
    print("hello ser by Bcom")  # This prints when the Bcom class is defined

    def __init__(self, con, dis, conn, dconn):
        # Call Acom's constructor with the proper arguments
        super().__init__(conn, dconn)
        self.conn = "connected"
        print(f"{self.conn} you are Bcom")  # Prints: connected you are Bcom
        t.sleep(2)  # Pauses for 2 seconds
        self.dconn = "disconnected"
        print(f"{self.dconn} you are Bcom")  # Prints: disconnected you are Bcom

class Serv(Bcom):
    pass

# Create an instance of Serv, passing appropriate arguments
i = Serv("con", "dis", "conn", "dconn")

hello ser by Acom
hello ser by Bcom
connected you are Acom
disconnected you are Acom
connected you are Bcom
disconnected you are Bcom

In [2]:
class Ce:
    def __init__(self, name):
        self.name = name
        print(f"{self.name} is our company CEO")
    
    def work(self):
        print(f"{self.name} manages the company")




class mn:
    def __init__(self, name):
        self.name = name
        print(f"{self.name} is our company manager")
        
    def work(self):
        print(f"{self.name} works for the company")




class com(Ce, mn):
    def __init__(self, name1, name2):
        Ce.__init__(self, name1)# here calling construct
        mn.__init__(self, name2)
        
        print(f"{name1} is CEO and {name2} is Manager")
        
    def work():
        print("we are the company")
        
        
        
i=com("teja",'eswar')


Ce.work(i)
        
mn.work(i)
        
com.work()

teja is our company CEO
eswar is our company manager
teja is CEO and eswar is Manager
eswar manages the company
eswar works for the company
we are the company